.botao{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-top: 40px;
}

.botao1{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-top: 40px;
}