    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>USER DETAILS</th>
                <th>ALTERAR</th>
                <th>EXCLUIR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><app-infos></app-infos></td>
                <td><app-botao></app-botao></td>
                <td><app1-botao></app1-botao></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><app-infos></app-infos></td>
                <td><app-botao></app-botao></td>
                <td><app1-botao></app1-botao></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><app-infos></app-infos></td>
                <td><app-botao></app-botao></td>
                <td><app1-botao></app1-botao></td>
            </tr>
        </tbody>
    </table>
