    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>USER DETAILS</th>
                <th>ALTERAR</th>
                <th>EXCLUIR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><app-infos></app-infos></td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><app-infos></app-infos></td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><app-infos></app-infos></td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
